*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px dotted black;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cell {
    width: 50px;
    aspect-ratio: 1/1;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#gameboard {
    display: grid;
    /* width: 200px; */
    /* grid-template-columns: repeat(4, 1fr); */
}

/* #numberColumns {
    display: inline;
    background-color: red;
}

#getColNo {
    display: inline;
    background-color: green;
} */

#dropZone {
    width: 100px;
    height: 100px;
    background-color: gray;
}